/*Fold*/
#fold {
    z-index: 30000;
    right: 0;
    bottom: 0;
    position: absolute;
}

/*fallback*/
.fallback {
    display: none;
  }

/********************************************

    Styles to be added to energy.gov in order 
    to allow it to look however you want it.
    Reminder: make it responsive

********************************************/


/*+++++++++++++++++++++++++++
Map
++++++++++++++++++++++++++++++++++++++*/

        .rowDOE {
            margin-bottom: 10px;
        }

        .rowDOE .green-text    {
            color: rgb(140,198,63) !important;
        }

        .rowDOE .white-text    {
            color: #fff !important;
        }

        #body-stuff {
            padding-top: 50px;
        }

        /*Typography*/

        .rowDOE h1, .rowDOE h2, .rowDOE h3, .rowDOE h4 {
            text-align: center;
            border:none
        }

        .rowDOE h1 {
            font-size: 33px;
            letter-spacing: 7px;
            color: rgb(51,51,51) !important;
            line-height: normal;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;            
            text-decoration: none !important;
        }

        .rowDOE h2 {
            font-size: 38px;
            color: #fff !important;
            text-transform: none;
            line-height: normal;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-family: "Avenir LT W02 35 Light",verdana,sans-serif;
            letter-spacing: .1rem;
        }

        .rowDOE h3 {
            font-size: 26px;
            color: #fff !important;
            margin-top: 0.5rem;
            margin-bottom: 0.6rem;
            text-transform: none;
            line-height: normal;
        }

        .rowDOE h4 {
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 0.5rem;
            margin-bottom: 0.4rem;
            color: rgb(0, 0, 0) !important;
        }

        .rowDOE .inner-text {
            font-size: 28px;
            text-transform: uppercase;
            font-family: "Avenir LT W02 85 Heavy",verdana,sans-serif;
            letter-spacing: .1rem;
            line-height: normal;    
            padding-top: 15px;
            padding-left: 0.9375rem;
            color: #fff !important;
        }

        .rowDOE .inner-text.large-8 {position: absolute;}

        .inner-text p {
            text-align: center;
        }

        #select-text h4 {
            color: #fff !important;
        }       

        .subheadline p {
            text-align: center;
            font-size: 20px;            
            margin: 0 !important;
            line-height: normal;
            color: rgb(68,68,68) !important;
            padding-top: .3rem !important; 
            padding-bottom: .3rem !important;
            font-family: "Avenir LT W02 35 Light",verdana,sans-serif;
            border-bottom: none !important;
        }       

        input.lead  {
            font-size: 80px;
            font-family: 'Avenir LT W02 35 Light',verdana,sans-serif;            
            padding-left: 15px;
            /*margin-top: 10px;
            margin-bottom: 10px;*/
            height: 100%;
        }

        select#unit {
            margin-top: 10px;
        }


    /* The Colors duke, the colors*/
        .header-color {
            background-color: rgb(140,198,63);
        }

        .headline {
            background-color: rgb(51,51,51)
        }

/*Dan's new edits*/

        .unit-container {
            font-family: 'Avenir LT W02 35 Light',verdana,sans-serif;
            font-size: 30px;
            line-height: 100%;
            height: 100px;
            border: none;
            border-bottom: 3px solid rgb(202,226,169);            
        }        

        .unit-num {
            text-align: left;
            margin-top: 10px;
        }

        #unit-last {
            background-color: rgb(241,247,234);
        }

        #unit-last:hover {
            background-color: #c2dca3;
            transition: background-color 300ms ease-out;
            cursor: pointer;
        }

        #unit-last h3 {
            text-transform: uppercase;
            color: #000 !important;
            padding-top: 30px;
        }


        .nameD {
            position: relative;
            float: left;
            text-transform: uppercase;
            font-size: 16px;
            font-family: "Avenir LT W02 85 Heavy",verdana,sans-serif;
            line-height: 100%;
            /*margin-top: 10px;
            margin-left: 30px;*/
        }

        .iconD {
            float: left;
        }

        .iconD img {
            width: 75px;
            padding-top: 10px;
        }

        .num-name {
            position: relative;    
            padding-left: 10px;
            margin-top: 10px;
            overflow: hidden;
        }

        .calcu {
            padding: 0 !important;
            height: 120px;
        }

        .calcu-inner {
            background-color: rgb(158,223,237); 
            height: 100%;
        }

        #calcu-small {
            height: 100%;
            margin-left: 20px;
            /*margin-left: 0;*/
            font-family: "Avenir LT W02 85 Heavy",verdana,sans-serif;
            text-align: center;
            text-transform: uppercase;
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 10%;
            font-size: 20px;
            line-height: 110%;
        }

        #equals div {
            margin-top: 25px;
            margin-bottom: 25px;
            border-top: 3px solid rgb(19,113,163);
            border-bottom: 3px solid rgb(19,113,163);
            height: 35px;
        }



    /*Other*/

        .subheadline {
            background-color: rgb(197,225,159); 
        }

        .green {
            background-color: rgb(197,225,159); 
        }


        .inner-text p {
        margin-bottom: 10px !important; 
        }

        .button1:hover {
            cursor: pointer;
            background-color: rgb(0,112,149); 
            transition: background-color 300ms ease-out;
        }

        /*Scroll bar*/

        ul#drop {
            max-height: 200px;
            overflow: scroll;
        }

        #dropdiv {
            cursor: pointer;
            transition: background-color 300ms ease-out;

        }

        #dropdiv:hover {
            background-color: #d7eabd;
            transition: background-color 300ms ease-out;            
            /*Turn off highlight*/
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .f-dropdown li {
            padding-left: 5px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .f-dropdown {
            left: 15px !important;
        }

        .close {
            left: -99999px !important;            
        }

        span.nub {
            border-color:#888 ;
        }

        .tooltip.tip-top > .nub {
            border-color: #888 transparent transparent transparent  ;
        }

        .tooltip.tip-bottom > .nub {
            border-color:  transparent transparent #888 transparent  ;
        }

        .tooltip {
            background-color: #888 ;
        }


    .middle-block .below-text {
        font-size: 13px;
        padding: 0px !important;
    }

    .middle-block .below-text span.red {
        color: red;
    }

    .middle-block .below-text span.blue {
        color: blue;
    }



@media only screen and (min-width: 40.063em) { 
        .rowDOE h1 {
            font-size: 52px;        
            letter-spacing: 15px;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .unit-container {border: none}
        .unit-container:nth-child(1), .unit-container:nth-child(2), 
        .unit-container:nth-child(4),.unit-container:nth-child(5) {
            border-right: 3px solid rgb(202,226,169);            
        }

        .unit-container:nth-child(1), .unit-container:nth-child(2),.unit-container:nth-child(3) {
            border-bottom: 3px solid rgb(202,226,169);
        }

    } /* min-width 641px, medium screens */
@media only screen and (min-width: 64.063em) { 

    } /* min-width 1025px, large screens */


@media only screen and (max-width: 480px) { 
        .rowDOE h2 {
            font-size: 30px;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            letter-spacing: .05rem;
        }
        .subheadline p {
            font-size: 17px;
            padding-top: .2rem;
            padding-bottom: .2rem
        }
        
        .rowDOE h3 {
            font-size: 16px;
            margin-top: .25rem;
            margin-bottom: .25rem;
        }
        .rowDOE .inner-text {
            font-size: 18px !important;
            line-height: 18px !important; 
            letter-spacing: 0rem;
        }
}


@media only screen and (max-width: 320px) { 
    #sub-blocks-full {
        height: 300px;
    }
    .rowDOE h1 {
        font-size: 28px
    }
    .rowDOE h2 {
            font-size: 26px;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            letter-spacing: .025rem;
        }
}



.has-tip {
    border-bottom: dotted 1px #fff;
}